body {
  padding: 0px;
  margin: 0px;
}

.content-wrapper {
  background-color: white;
}

.catchphrase {
  background-color: wheat;
  padding-left: 50px;
  margin: 50px;
  h1 {
    margin: 0px;
    font-weight: bold;
    font-size: 100px;
  }
}

.terms-wrapper {
  display: flex;
  justify-content: space-around;
}
