.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 25px;
}

.section-title {
  font-size: 30px;
}

.desc-images {
  width: 90%;
  max-width: 700px;
  margin: 0px auto;
  margin-top: 40px;
  .desc-image {
    &:nth-child(1) {
      display: flex;
    }
    &:nth-child(2) {
      margin-left: 50px;
      margin-right: 50px;
    }
    img {
      &.what-image {
        width: 70%;
      }
      &.draw-image {
        width: 90%;
        margin-bottom: 23px;
      }
      &.find-image {
        width: 80%;
        margin-bottom: 28px;
      }
    }
  }
}

.support-wrapper {
  .icons-wrapper {
    margin-top: 40px;
    .icon-item {
      display: flex;
      justify-content: center;
      flex-direction: row;
      h3 {
        font-size: 35px;
        color: $light-gray;
        margin: 5px;
        margin-right: 15px;
        font-weight: normal;
      }
      img {
        width: 50%;
      }
    }
  }
  p {
    font-size: 20px;
  }
}

.link-wrapper {
  .store-link {
    padding-top: 10px;
    &.apple img {
      width: 200px;
      padding-top: 0px;
      margin-left: 10px;
    }

    &.google img {
      width: 248px;
    }
  }
}
