$white: #fff;
$purple: rgba(51, 29, 91, 0.8);
$background: #dedce2;
$light-gray: rgba(0, 0, 0, 0.6);
$dark-gray: #303030;
$title-back: rgba(164, 137, 212, 0.1);

body {
  padding: 0px;
  margin: 0px;
  background-color: $background;
}

p {
  color: $light-gray;
}

section {
  padding: 35px 50px;
}

header {
  .header-wrapper {
    padding: 2% 5%;
    img {
      width: 150px;
    }
  }
  .header-back {
    display: none;
  }
}

#title-section {
  margin-bottom: 10px;
  .logo {
    display: none;
  }
  .title-wrapper {
    max-width: 480px;
    position: relative;
    margin: 0px auto;
    h1 {
      margin: 0px;
      margin-bottom: 20px;
      font-size: 13vw;
      font-weight: normal;
      line-height: 14vw;
      font-family: "Caveat", cursive;

      &::after {
        border-radius: 10%;
        position: absolute;
        top: 20%;
        left: 10%;
        content: "";
        display: inline-block;
        height: 90%;
        width: 90%;
        background-color: $title-back;
      }
    }
    p {
      font-size: 3vw;
      color: $light-gray;
    }
  }
  .header-back {
    display: none;
  }
}

#preview-section {
  overflow: hidden;
  .preview-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 4.5vw;

    .preview-left {
      margin-bottom: 50vw;
      margin-right: 3vw;
      height: 107vw;
    }

    .preview-right {
      margin-top: 50vw;
      height: 107vw;
    }
  }
}

#support-section {
  .icons-wrapper {
    max-width: 480px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
    h3 {
      font-size: 4vw;
      color: $light-gray;
    }
    img {
      display: inline-block;
      width: 70%;
      padding: auto;
    }
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

#detail-section {
  .details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 80%;

    .detail-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 25px;
      width: 100%;
      min-height: 220px;
      max-width: 230px;
      background-color: $white;
      border-radius: 25px;
      margin-bottom: 30px;

      h3 {
        margin-bottom: 10px;
        text-align: center;
        color: $purple;
        font-weight: normal;
      }

      p {
        color: $light-gray;
        font-size: 75%;
        text-align: center;
      }
    }
  }
}

.link-section {
  h2 {
    margin: 0px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
    margin-bottom: 10px;
  }

  .link-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin: 0px auto;

    .store-link {
      width: 50%;
      &.apple img {
        width: 80%;
        padding: 5%;
      }

      &.google img {
        width: 100%;
      }
    }
  }
}

footer {
  background-color: $dark-gray;
  .footer-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      color: $white;
      padding-bottom: 5px;
    }
  }
}

@media (min-width: 425px) {
  #preview-section {
    .preview-wrapper {
      .preview-left {
        margin-bottom: 212px;
        height: 456px;
      }

      .preview-right {
        margin-top: 212px;
        height: 456px;
      }
    }
  }
}

@media (min-width: 480px) {
  @import "_480up.scss";
}

@media (min-width: 800px) {
  @import "_800up.scss";
}

@media (min-width: 1024px) {
  @import "_1024up.scss";
}

@media (min-width: 1440px) {
  @import "_1440up.scss";
}
